runtime-endpoint: {{ cri_crictl_runtime_endpoint }}
image-endpoint: {{ cri_crictl_image_endpoint }}
timeout: {{ cri_crictl_timeout }}
debug: {{ cri_crictl_debug }}
pull-image-on-create: {{ cri_crictl_pull_image_on_create }}
disable-pull-on-run: {{ cri_crictl_disable_pull_on_run }}
