runtime-endpoint: {{ crictl_runtime_endpoint }}
image-endpoint: {{ crictl_image_endpoint }}
timeout: {{ crictl_timeout }}
debug: {{ crictl_debug }}
pull-image-on-create: {{ crictl_pull_image_on_create }}
disable-pull-on-run: {{ crictl_disable_pull_on_run }}
